body {
    font-family: Arial, sans-serif;
}

#data-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.post-container {
    width: 30vw;
    margin: 10px;
}

.item {
    margin-bottom: 10px;
}
img {
    max-width: 300px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

